/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {

  /*========== Colors ==========*/
  --color-primary: crimson;
  --first-color-alt: #f61642;
  --title-color: #515050;
  --text-color: #3e3e3e;
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --name-font-size:.99rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --name-font-size:1rem;
    --normal-font-size: .95rem;
    --small-font-size: .78rem;
    --smaller-font-size: .75rem;
  }
}



/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  color: crimson;
  text-decoration: none;
}

a:hover {
  color: #f91845;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}




/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
/* #preloader {
  position: fixed;
  inset: 0;
  z-index: 999999;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #fff;
  border-color: var(--color-primary) transparent var(--color-primary) transparent;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  -webkit-animation: animate-preloader 1.5s linear infinite;
  animation: animate-preloader 1.5s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
 */



/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 19px;
  bottom: 15px;
  z-index: 996;
  background: crimson;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: var(--h2-font-size);
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  /* background: var(--first-color-alt); */
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {

  height: 40px;
  /* font-size: 14px; */
  transition: all 0.5s;
  z-index: 996;
}

#topbar.topbar-scrolled {
  top: -40px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #1e1e1e;
  transition: 0.3s;
  font-size: var(--small-font-size);
}



#topbar .contact-info i {
  color: crimson;
  line-height: 0;
}

#topbar .contact-info i:first-child {
  margin-left: 0;
}

#topbar .social-links a {
  color: white;
  padding: var(--mb-2);
  display: inline-block;
  line-height: var(--mb-2);
  transition: 0.3s;
}

#topbar .social-links a:hover {
  background-color: var(--body-color);
  color: var(--color-primary);
  
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  /* padding: 15px 0; */
  top: 40px;
  box-shadow: 0px 2px 15px #1977cc1a;
}

#header.header-scrolled {
  top: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  padding: 10px 0;
  transition: all 0.5s;
  z-index: 997;
  background-color: var(--body-color);
}

.header.sticked {
  background: var(--color-white);
  box-shadow: 0px 2px 20px rgba(var(--color-secondary-rgb), 0.1);
}

.header .logo img {
  height: 80px;
  width: 80px;
  margin-right: var(--mb-1);
  /* margin-left: var(--mb-4); */
}

@media (max-width: 1279px){
  .header .logo img {
    margin-right: 5px !important;
    
  }
}


.header .logo h2 {
  
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  font-family: var(--font-secondary);
  padding: 0;
  margin: 0;
}
.header .logo h4 {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  padding: 0;
  margin: 0;
}

.header .logo h1 span {
  color: var(--color-primary);
  font-weight: 500;
}


/*--------------------------------------------------------------
# Desktop Navigation 
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
    position: relative;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar>ul>li {
    white-space: nowrap;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--mb-1) var(--mb-2);
    /* font-size: var(--normal-font-size); */
    /* font-weight: var(--font-medium); */
    color: var(--text-color);
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    text-transform: capitalize !important;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: var(--mb-1);
  }

  .navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-primary);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    transform: scaleX(0.7);
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown a:hover:before,
  .navbar .dropdown:hover>a:before,
  .navbar .dropdown .active:before {
    visibility: hidden;
  }

  .navbar .dropdown a:hover,
  .navbar .dropdown .active,
  .navbar .dropdown .active:focus,
  .navbar .dropdown:hover>a {
    color: var(--color-secondary-dark);
    background: var(--color-white);
  }

  .navbar .dropdown span{
    cursor: pointer !important;
    color: var(--title-color);
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    top: 68px;
    left: 0;
    margin: 0;
    padding: 0 0 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: var(--body-color);
    transition: 0.3s;
    box-shadow: 0px 2px 12px rgba(152, 152, 153, 0.316);

  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: var(--mb-1) var(--mb-2);
    /* font-size: var(--normal-font-size); */
    text-transform: none;
    /* font-weight: var(--font-medium); */
    color: var(--text-color);
  }

  .navbar .dropdown ul a i {
    display: none !important;
    /* font-size: var(--smaller-font-size); */
  }

  .navbar .dropdown ul a{
    margin-top: var(--mb-1);
  }
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color:var(--body-color);
    background: var(--color-primary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    visibility: visible;
  }

  /* .navbar .megamenu {
    position: relative;

  }

  .navbar .megamenu ul {
    top: 75px;
    padding: 10px;
    display: flex;
    transition-duration: .3s;
    box-shadow: 0px 2px 12px rgba(152, 152, 153, 0.316);

  }

  .navbar .megamenu ul li {
    flex: 1;
  }

  .navbar .megamenu ul li a,
  .navbar .megamenu ul li:hover>a {
    color: var(--color-secondary-dark);
    background-color: var(--color-white);
    font-size: 14px;
    font-weight: 600;
  }

  .navbar .megamenu ul li a:hover,
  .navbar .megamenu ul li .active,
  .navbar .megamenu ul li .active:hover {
    color: var(--color-white);
    background: var(--color-primary);
  } */

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 80vw;
    bottom: 0px;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    top: 200px;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    list-style: none;
    inset: 0;
    padding: var(--mb-6);
    margin: 0;
    background: var(--body-color);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }




  .navbar ul li img{
    height: 80px;
    width: 80px;
    display: flex;
    justify-items: center;
    padding: 0;
    margin: 0;
  }

  .navbar ul li h3{
    /* margin: 10px; */
    font-size: var(--h3-font-size);
    font-weight: 800;
    color: var(--title-color);
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .navbar ul li h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .navbar .dropdown span{
    cursor: pointer !important;
    color: var(--title-color);
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--mb-2) var(--mb-3);
    /* font-size: var(--normal-font-size); */
    font-weight: var(--font-medium);
    color: var(--title-color);
    white-space: nowrap;
    transition: 0.3s;
    text-transform:uppercase;
  }

  /* .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  } */

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: var(--mb-2) 0;
    /* margin: 10px 20px; */
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 2px 12px #98989951;

  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-toggle {
    display: block !important;
    /* color: var(--color-primary) !important; */
    border: 1px solid var(--color-primary);
    color: var(--container-color);
    background-color: var(--color-primary);
    /* border-radius: 50%; */
    padding:var(--mb-2) var(--mb-1);
    margin: var(--mb-2);
    font-size: 1.5rem;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: relative;
    top: 0px;
    z-index: 9999;
    /* right: 12px; */
  }

  .mobile-nav-toggle.bx-x {
    color: var(--container-color);
  }

  .mobile-nav-active {
    overflow: hidden;
    z-index: 9995;
    position: relative;
  }

  .mobile-nav-active .navbar {
    left: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(var(--color-secondary-rgb), 0.8);
    z-index: 9996;
  }
}

  @media (min-width: 1260px){
    .navbar ul li img, .mobile-nav-title, .mobile-nav-place
    {
      display: none !important;
    }
  }
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background-color: var(--body-color);
  overflow: hidden;
  position: relative;
  
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item {
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#hero .container {
  text-align: center;
  background: var(--body-color);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  #hero .container {
    margin-left: 50px;
    margin-right: 50px;
  }
}

#hero h2 {
  color: var(--title-color);
  margin-bottom: 20px;
  /* font-size: 36px; */
  font-weight: 700;
}

#hero p {
  margin: 0 auto 30px auto;
  color: var(--title-color);
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position:bottom;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  left: 0;
  transform: translate3d(0, 0, 0);
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: rgba(192, 63, 82, 0.8);
  border-radius: 50px;
  transition: 0.3s;
  color: rgba(255, 255, 255, 0.5);
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: #c13e47;
  color: #ffffffcc;
}

#hero .carousel-indicators li {
  
  cursor: pointer;
  background: #f6758f;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: var(--color-primary);
}



@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }

  #hero .container {
    margin-top: 100px;
  }
}



@media (min-width: 1024px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 160vh;
  }
}


/*--------------------------------------------------------------
# Sections feature
--------------------------------------------------------------*/

/*Features Section*/
section.features-section {
  margin-top: -90px;
}
.bg1 {
  background: crimson;
}

.bg2 {
  background: crimson;
}

.bg3 {
  background: crimson;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: rgb(252, 245, 246);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: var(--h1-font-size);
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
  text-transform: uppercase !important;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: crimson;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f1f7fd;
  min-height: 40px;
  margin-top: 140px;
}

.breadcrumbs h2{
  display: none;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 100px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  /* font-size: 14px; */
}

.breadcrumbs ol li+li {
  padding-left: 10px;
  text-transform: capitalize !important;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {

  .breadcrumbs{
    margin-top: 140px;
  }

  /* .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  } */
}


/*--------------------------------------------------------------
# MORE DEPARTMENTS BUTTON
--------------------------------------------------------------*/


.departments .more-departments{
  /* font-size: 14px !important; */
  padding: 12px;
  background-color: crimson;
  border: 1px solid crimson;
  color: white;
  width: 250px;
  transition-duration: .3s;
}
.departments .more-departments:hover{
  
  background-color: white;
  color: crimson;
  border: 1px solid crimson;
  
}


/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/
 .departments .icon-box {
  text-align: center;
  border: 1px solid #d5e1ed;
  padding: 30px 30px;
  transition: all ease-in-out 0.3s;
  margin-bottom: 20px;
  height: 250px;
}

.departments .icon-box img {
  margin: 0 auto;
  width: 60px !important;
  height: 60px !important;
  transition: all 0.3s ease-out 0s;
  display: flex;
  object-fit: contain !important;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

}

.departments .icon-box img {
 
  transition: ease-in-out 0.3s;

}

.departments .icon-box:hover img {
  transform: scale(1.1);
  
}


.departments .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  /* font-size: 20px; */
  font-size: var(--h3-font-size);
}

.departments .icon-box h4 a {
  color: #2c4964;
}


.departments .icon-box p {
  line-height: 24px;
  /* font-size: 14px; */
  font-size: var(--small-font-size);
  /* font-size: var(--normal-font-size); */
  margin-bottom: 0;
}

.departments .icon-box:hover {
  /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
  transform: translateY(-5px);
  /* transform: translateY(-5px);   */
  
}

.departments .btn{
  /* font-size: 12px !important; */
  transition-duration: .3s;
  
}
.departments .btn:hover{
  border:none;
  background-color: crimson;
  color: white;
  
}
 .departments-more-arrow img{
  transition: none !important;
  transform: none !important;
  height: 30px !important;
  height: 30px !important;
}
.departments .more-departments{
  /* font-size: 14px !important; */
  padding: 12px;
  background-color: crimson;
  border: 1px solid crimson;
  color: white;
  width: 250px;
  transition-duration: .3s;
}
.departments .more-departments:hover{
  
  background-color: white;
  color: crimson;
  border: 1px solid crimson;
  
}

/*--------------------------------------------------------------
# Appointments
--------------------------------------------------------------*/
.appointment .php-email-form {
  width: 100%;
}

.appointment .php-email-form .form-group {
  padding-bottom: 8px;
}

.appointment .php-email-form .validate {
  display: none;
  color: crimson;
  margin: 0 0 15px 0;
  font-weight: 400;
  /* font-size: 13px; */
}

.appointment .php-email-form .error-message {
  display: none;
  color: #fff;
  background: crimson;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.appointment .php-email-form .error-message br+br {
  margin-top: 25px;
}

.appointment .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: crimson;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.appointment .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.appointment .php-email-form .loading:before {
  content: "";
  display: inline-block;
  /* border-radius: 50%; */
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.appointment .php-email-form input,
.appointment .php-email-form textarea,
.appointment .php-email-form select {
  border-radius: 0;
  box-shadow: none;
  font-size: var(--small-font-size);
  padding: 10px !important;
}

.appointment .php-email-form input:focus,
.appointment .php-email-form textarea:focus,
.appointment .php-email-form select:focus {
  border-color: rgb(163, 163, 163);
}

.appointment .php-email-form input,
.appointment .php-email-form select {
  height: 44px;
}

.appointment .php-email-form textarea {
  padding: 10px 12px;
}

.appointment .php-email-form button[type=submit] {
  background: crimson;
  border: 1px solid crimson;
  margin-top:var(--mb-2) ;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
}

.appointment .php-email-form button[type=submit]:hover {
background-color: white;
color: crimson;
border: 1px solid crimson;
}

/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: crimson;
  color: #fff;
  background-size: cover;
  padding: 60px 0;
}

.cta h3 {
  display: inline-block !important;
  color: white;
  /* font-size: 28px; */
  font-size: var(--h2-font-size);
  font-weight: 700;
}

.cta .cta-appointment{
  /* font-size: 14px !important; */
  padding: 12px;
  

  background-color: crimson;
  color: white;
  border: 1px solid white;
  width: 250px;
  transition-duration: .3s;
}
.cta .cta-appointment:hover{
  
  background-color: #ffffff;
  border: 1px solid crimson;
  color: crimson;
  
}
/*--------------------------------------------------------------
# Doctors
--------------------------------------------------------------*/
.doctors {
  background: #fff;
}

.doctors .member {
  box-shadow: 0px 2px 15px rgba(33, 27, 28, 0.085);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition-duration: .3s;
}

.doctors .member:hover{
  box-shadow: 0px 2px 15px rgba(49, 47, 47, 0.149);

}

.doctors .member .pic {
  overflow: hidden;
  width: 180px;
  height: 220px;
  object-fit: cover !important;

}

.doctors .member .pic img {
  transition: ease-in-out 0.3s;
  /* border-radius: 10px; */
  width: 180px;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;

}




.doctors .member h4 {
  margin-top: 10px;
  font-weight: 700;
  /* font-size: 17px; */
  font-size: var(--name-font-size);
  color: #2c4964;
}

.doctors .member span {
  display: block;
  /* font-size: 15px; */
  font-size:var(--normal-font-size);
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

/* .doctors .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b2c8dd;
  bottom: 0;
  left: 0;
} */

.doctors .member p {
  margin: 10px 0 0 0;
  /* font-size: 14px; */
}




/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
/* .testimonials{
  background-color: rgba(248, 247, 247, 0.705);
} */

/* .testimonials .testimonial-wrap {
  padding: 30px;
} */

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
  /* background-color: rgba(202, 202, 202, 0.332); */
  /* box-shadow: 0px 2px 12px rgba(152, 152, 153, 0.316); */

  /* padding: 10px; */
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end !important;
  height: 200px !important;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  position: relative;
  /* background: #e6e5e55a; */
  box-shadow: 0px 2px 12px rgba(152, 152, 153, 0.316);

  text-align: start;
  /* border-top-left-radius: 30px; */
  /* border-bottom-right-radius: 30px; */

}

.testimonials .testimonial-item p{
  text-align: start;
}
.testimonials .testimonial-item h3 {
  /* font-size: 18px; */
  font-size: var(--name-font-size);
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #313131;
}

.testimonials .testimonial-item h4 {
  /* font-size: 14px; */
  color: #1e1818;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: crimson;
  font-size: var(--h2-font-size);
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  opacity: 1;
  border: 1px solid #f4c1cb;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: crimson;
}

@media (max-width: 767px) {
  .testimonials .testimonial-wrap {
    padding-left: 0;
  }

  .testimonials .testimonials-carousel,
  .testimonials .testimonials-slider {
    overflow: hidden;
  }

  .testimonials .testimonial-item {
    padding: 30px;
    margin: 15px;
  }

}


/*--------------------------------------------------------------
# Recent Blog Posts Section
--------------------------------------------------------------*/
.recent-posts .post-box {
  transition: 0.3s;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: #efefef78; */
  box-shadow: rgba(133, 132, 132, 0.15) 4px 4px 0px 2.6px;

  text-align: justify;
  padding: 20px;
}

.recent-posts .post-box .post-img {
  overflow: hidden;
  position: relative;
  
}

.recent-posts .post-box .post-img img {
  transition: 0.5s;
  height: 250px;
  width: 100%;
}

.recent-posts .post-box .meta {
  margin-top: 15px;
}

.recent-posts .post-box .meta .post-date {
  /* font-size: 15px; */
  font-weight: 400;
  /* color: var(--color-primary); */
}

.recent-posts .post-box .meta .post-author {
  /* font-size: 15px; */
  font-weight: 400;
  /* color: var(--color-secondary); */
}

.recent-posts .post-box .post-title {
  /* font-size: 18px; */
  font-size: var(--h3-font-size);
  color: #383838;
  font-weight: 700;
  margin: 15px 0 0 0;
  position: relative;
  text-transform: capitalize !important;
}

.recent-posts .post-box p {
  margin: 15px 0 0 0;
  color: #383838;
}

.recent-posts .post-box .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
  margin-top: 15px;
}

.recent-posts .post-box .readmore i {
  line-height: 0;
  margin-left: 4px;
  /* font-size: 18px; */
}



/* .recent-posts .post-box:hover .post-img img {
  transform: scale(1.1);
} */

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/


.gallery {
  overflow: hidden;
}

.gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #f4c1cb;
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: crimson;
}

.gallery .swiper-slide-active {
  text-align: center;
}

@media (min-width: 992px) {
  .gallery .swiper-wrapper {
    padding: 40px 0;
  }

  .gallery .swiper-slide-active {
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.2);
    margin-top: 10px;
  }
}


/*--------------------------------------------------------------
# Home Gallery Section
--------------------------------------------------------------*/
.gallery .home-gallery-item{
  overflow: hidden;
  padding: 20px;
  text-align: center;
  margin-bottom: 25px;
  transition-duration: .4s;
  box-shadow: rgba(13, 13, 16, 0.1) 0px 0px 16px;


}
.gallery .home-gallery-item img{
  height: 200px;
  width: 300px;
  object-fit: cover;
}

/* .gallery .home-gallery-item:hover{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;


} */
.gallery .home-gallery-item h2{
  color: #2c4964;
  /* font-size: 20px; */
  font-size: var(--name-font-size);
  margin-top: 15px;
  font-weight: var(--font-semi-bold);
  text-transform: capitalize;
}



/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  padding: 30px;
  
}
/* .gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  
} */

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
  height: 250px;
  object-fit: cover;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  /* font-size: 20px; */
  font-size: var(--h3-font-size);
  color: white;
  float: left;
  width: 44px;
  height: 44px;
  background: #d5a0b2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  /* font-size: 22px; */
  font-size: var(--h3-font-size);
  font-weight: 600;
  margin-bottom: 5px;
  color: #2c4964;
}
/* d5a0b2 */

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  /* font-size: 14px; */
  color: #2c4964;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: crimson;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}



.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: crimson;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid crimson;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  /* font-size: 14px; */
  font-size: var(--small-font-size);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  padding: 12px;
  margin-top: var(--mb-2);
  background-color: crimson;
  color: white;
  border: 1px solid white;
  width: 250px;
  transition-duration: .3s;
}

.contact .php-email-form button[type=submit]:hover {
  background-color: #ffffff;
  border: 1px solid crimson;
  color: crimson;}



@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.contact .feedback{
  /* background-color: red; */
  padding: var(--mb-3);
  padding-top: 0;
}
.contact .info {
  padding: var(--mb-3);
  box-shadow: 0px 2px 15px rgba(25, 21, 22, 0.085);
 
}

.contact .feedback h4{
  color: #2c4964;
  /* font-size: 22px; */
  /* font-weight: 600; */
  font-size: var(--h3-font-size);
  text-transform: capitalize;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: white;
  /* font-size: 14px; */
  font-size: var(--small-font-size);
  background: #262324;
  
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #262324;
  box-shadow: 0px 2px 15px rgba(82, 82, 82, 0.1);
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  display: inline-block !important;
  /* font-size: 22px; */
  /* font-size: 30px; */
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  /* font-size: 14px; */
  font-size: var(--small-font-size);
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #c9c7c7;
}

#footer .footer-top h4 ,h3 {
  /* font-size: 16px; */
  font-size: var(--name-font-size);
  font-weight: bold;
  color: #c9c7c7;
  position: relative;
  margin-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: crimson;
  /* font-size: 18px; */
  font-size: var(--normal-font-size);
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #c9c7c7;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: crimson;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  /* font-size: 16px; */
  font-weight: bold;
  color: #c9c7c7;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-newsletter p{
  color: #c9c7c7;
  font-size: var(--small-font-size);

}


#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  text-align: left;
  border-radius: 50px;

}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
  outline: none;
  border-radius: 50px;

}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  /* font-size: 16px; */
  padding: 0 20px;
  background: crimson;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;

}

#footer .footer-newsletter form input[type=submit]:hover {
  background: crimson;
}




#footer .credits {
  padding-top: 5px;
  /* font-size: 13px; */
  font-size: var(--smaller-font-size);
  color: #ffffff;



}


@media (max-width: 769px) {

  #footer .social-links{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: crimson;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: white;
  color: crimson;
  text-decoration: none;
}



/*--------------------------------------------------------------
# Facility
--------------------------------------------------------------*/

.facility{
  border: 1px solid rgba(38, 38, 38, 0.378);
  padding: var(--mb-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--normal-font-size);
  margin: 20px 0px ;
  /* height: 270px; */
  height: auto;
  transition-duration: .4s;
}

.facility:hover{
transform: translateY(-5px);  
}

.facility h3{
 font-size: var(--name-font-size);
 display: inline-block !important;
 color:var(--color-secondary-dark)

}

.facility p{
  display: none !important;
}

.facility img{
  width: 80px !important;
  height: 80px !important;
  padding: 15px;
  filter:saturate(0)
 
}

 


.facility .facility-description{
  text-align: center;
}